### Temporary Build Files ###
/vendor
build/_output
build/_test
/bazel-*
/Gopkg.lock
### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, build with 'go test -c'
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# Intellij
!/pkg